<% if @errors %>
  <% @errors.each do |error| %>
    <%= error %><br>
  <% end %>
<% end %>

<h2 class="register-header">Login</h2>
<form action='/login' method='post'/ class="register">
  <input type="text" name="email"placeholder="Email Address"/><br>
  <input type="password" name="password" placeholder="Password"/>
  <button type="submit" value="Login" class="button">Log In</>
</form>
